.title-card{
    height:50vh !important;
    width:100% !important;

    background-image: url("/img/sample.jpg") !important;

}

.search-input{
    /*width:38rem !important;*/
    border:1px solid white;
    background:transparent;
    color: #fff !important;
}

.search-input:focus{
    /*width:38rem;*/
    border:1px solid white;
    background:transparent;
    color: #fff;
}

.search-container{
    width:80%;
}

.history-card{
    height:100px;
    margin-bottom: 10px;
}

.link{
    cursor:pointer;
}